node_modules/
.pnpm-store/
.expo/
dist/
web-build/
build/
.env.local
.env
npm-debug.log*
mobile-expo*.log
mobile-run*.log
yarn-debug.log*
yarn-error.log*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
